<%= form_for video do |f| %>
  <% if @video.errors.any? %>
    <div class="ui message">
      <div class="header">
          <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
      </div> 
       <ul class="list">
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="ui input upload">
      <%= f.text_field :title ,:placeholder => "VIDEO TITLE" %>   
    </div>
  </div>

  <div class="field">
    <div class="ui input upload">
      <%= f.text_field :band ,:placeholder => "BAND" %>   
    </div>
  </div>

  <div class="field">
    <div class="ui input upload">
       <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "choose a category"}, {class: "ui dropdown"}%>
    </div>   
  </div>
  
  <div class="field">
      <%= f.file_field :image , :class =>"btn-upload" %>   
  </div>

  <div class="field">
    <div class="ui input upload">
      <%= f.text_field :key,:placeholder => "VIDEO KEY" %>   
    </div>
  </div>
  
  <div class="field">
    <div class="ui input upload">
     <%= f.text_field :blurb ,:placeholder => "BLURB" %>   
    </div>
  </div>

  <div class="actions">
    <%= f.button "Publish", class: 'positive ui button right', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Publishing..."} %>
  </div>
<% end %>
