<% provide(:title, "search")%>
<div class="ui grid container">          
   <div class="right floated move_up">
        <% @videos.each do |video|%> 
        <div>
             <%=form_for(Heart.new,:remote => true) do |f| %>
                 <%= f.hidden_field :video_id, value: video.id %>
                 <div class="ui fluid image ">
                   <%= f.button " ", class: 'ui red right corner label' do %>  
                     <i class="heart icon"></i>
                   <%end%>
                   <%= image_tag video.image.url(:featured)%>
                </div>   
             <%end%>
            <div class="tile_info">
                <div class="tile_play">
                   <%=link_to image_tag('small_play.png'), video_path(video),method: :get%>
                </div>
                <div class="tile_details">
                    <h4><%=video.views%> views</h4>
                    <h2><%=video.band%> </h2>
                    <p>"<span><%=video.title%></span>"</p>
                    <div class="popup">
                        <i class=" red circular plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                    </div>
                </div>   
            </div>
        </div>
      <%end%>
    </div>
</div>
