<div class="w-section w-hidden-small w-hidden-tiny mid_section">
    <div class="hero">
      <div data-animation="outin" data-duration="500" data-infinite="1" data-hide-arrows="1" class="w-slider mainslider">
        <div class="w-slider-mask mask">
          <div class="w-slide slide">
           <%= content_tag(:div, :data => {:'autoplay' => 'autoplay', :'loop'=>'loop', :'wf-ignore'=>'ignore' ,
                           :'poster-url'=> 'https://daks2k3a4ib2z.cloudfront.net/572640c5639cfa231e78aa98/572d4c0cf586648f39f7a400_Mizikjams Intro-poster-00001.png',
                           :'video-urls'=> 'https://daks2k3a4ib2z.cloudfront.net/572640c5639cfa231e78aa98/572d4c0cf586648f39f7a400_Mizikjams Intro-transcode.mp4'},
                             class: 'w-background-video videobg stony') do %>
              <%= (image_tag "play_mizikjams.png", class: "play")%> 
            <% end %>           
            <div class="sliderinfo_wrapper">
              <div class="w-clearfix mainwrapper">
                <div class="songinfo">rylax “san wont”</div>
                <div class="songdescrition">New release from the upcoming kompa band ,Follow by their debut album for 2016</div>
              </div>
            </div>
          </div>
           <div class="w-slide slide">
           <%= content_tag(:div, :data => {:'autoplay' => 'data-autoplay', :'loop'=>'loop', :'wf-ignore'=>'ignore' ,
                           :'poster-url'=> 'https://daks2k3a4ib2z.cloudfront.net/572640c5639cfa231e78aa98/572d4c0cf586648f39f7a400_Mizikjams Intro-poster-00001.png',
                           :'video-urls'=> 'https://daks2k3a4ib2z.cloudfront.net/572640c5639cfa231e78aa98/57297cbf7e99926e771275c7_RYLAX - SAN WONT-transcode.mp4'},
                             class: 'w-background-video videobg stony') do %>
              <%= (image_tag "play_mizikjams.png", class: "play")%> 
            <% end %>           
            <div class="sliderinfo_wrapper">
              <div class="w-clearfix mainwrapper">
                <div class="songinfo">rylax “san wont”</div>
                <div class="songdescrition">New release from the upcoming kompa band ,Follow by their debut album for 2016</div>
              </div>
            </div>
          </div>     
        </div>
        <div class="w-slider-arrow-left">
            <%= (image_tag "prev.png", class: "arrow")%>
            <!--<img height="63" src="images/prev.png" class="arrow">-->
        </div>
        <div class="w-slider-arrow-right">
            <%= (image_tag "next.png", class: "arrow")%>
            <!--<img height="63" src="images/next.png" class="arrow_next">-->
        </div>
      </div>
    </div>
  </div>

<div class="w-section w-hidden-small w-hidden-tiny newreleases">
    <div class="sectiontitle">NEW RELEASES</div>
    <div data-animation="slide" data-duration="500" data-infinite="1" data-hide-arrows="1" class="w-slider hotslider">
      <div class="w-slider-mask mask">
        <%@featured.each do |video|%>
        <div class="w-slide hotslide">
          <div class="songwrapper">
              <%= (image_tag "nu_look.jpg", class: "slideimage",:data => {:'ix' => 'fade'})%>
              <%= link_to (image_tag "play_mizikjams.png", class: "playslide"), video_path(video),method: :get, :class => "w-inline-block playlink"%>
            <div class="views">16k views</div>
            <div class="videoinfo">
             <a href="#" class="textlink video_title">CARIMI</a>
             <%= link_to (image_tag "plus.png"), root_path(), :class => "w-inline-block plussign"%>
              <div class="videosong"><%= video.title%></div>
             <%= link_to (image_tag "heart.png", class: "w-preserve-3d heartiocn",:data => {:'ix' => 'scale'}), root_path(), :class => "w-inline-block hearticonlink"%>
            </div>
          </div>
        </div>
      <%end%>
      <div class="w-slider-arrow-left leftarrow">
        <div class="w-icon-slider-left hotprev left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right hotprev right"></div>
      </div>
    </div>
  </div>
    <div class="sectiontitle">TOP VIDEOS</div>
    <div data-animation="slide" data-duration="500" data-infinite="1" data-hide-arrows="1" class="w-slider hotslider">
      <div class="w-slider-mask mask">
        <%@featured.each do |video|%>
        <div class="w-slide hotslide">
          <div class="songwrapper">
              <%= (image_tag "nu_look.jpg", class: "slideimage",:data => {:'ix' => 'fade'})%>
              <%= link_to (image_tag "play_mizikjams.png", class: "playslide"), video_path(video),method: :get, :class => "w-inline-block playlink"%>
            <div class="views">16k views</div>
            <div class="videoinfo">
             <a href="#" class="textlink video_title">CARIMI</a>
             <%= link_to (image_tag "plus.png"), root_path(), :class => "w-inline-block plussign"%>
              <div class="videosong"><%= video.title%></div>
             <%= link_to (image_tag "heart.png", class: "w-preserve-3d heartiocn",:data => {:'ix' => 'scale'}), root_path(), :class => "w-inline-block hearticonlink"%>
            </div>
          </div>
        </div>
      <%end%>
      <div class="w-slider-arrow-left leftarrow">
        <div class="w-icon-slider-left hotprev left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right hotprev right"></div>
      </div>
    </div>
  </div>
    <div class="sectiontitle">HOT THIS WEEK</div>
    <div data-animation="slide" data-duration="500" data-infinite="1" data-hide-arrows="1" class="w-slider hotslider">
      <div class="w-slider-mask mask">
        <%#@featured.each do |video|%>
        <div class="w-slide hotslide">
          <div class="songwrapper">
              <%= (image_tag "nu_look.jpg", class: "slideimage",:data => {:'ix' => 'fade'})%>
              <%= link_to (image_tag "play_mizikjams.png", class: "playslide"),:class => "w-inline-block playlink"%>
            <div class="views">16k views</div>
            <div class="videoinfo">
             <a href="#" class="textlink video_title">CARIMI</a>
             <%= link_to (image_tag "plus.png"), root_path(), :class => "w-inline-block plussign"%>
              <div class="videosong"><%#= video.title%></div>
             <%= link_to (image_tag "heart.png", class: "w-preserve-3d heartiocn",:data => {:'ix' => 'scale'}), root_path(), :class => "w-inline-block hearticonlink"%>
            </div>
          </div>
        </div>
      <%#end%>
      <div class="w-slider-arrow-left leftarrow">
        <div class="w-icon-slider-left hotprev left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right hotprev right"></div>
      </div>
    </div>
  </div>
    <div class="sectiontitle">GENRES</div>
    <div data-animation="slide" data-duration="500" data-infinite="1" data-hide-arrows="1" class="w-slider hotslider">
      <div class="w-slider-mask mask">
       <% @categories.each do |category|%>
        <div class="w-slide hotslide">  
          <div class="songwrapper">
              <%= link_to (image_tag ("overlay-"+"#{category.name}.png"), class: "genrezouk"),root_path%>
            <div class="genreszouk">
                <%=link_to category.name ,root_path%>
              </div>
          </div>
        </div>
       <%end%>
      </div>
      <div class="w-slider-arrow-left leftarrow">
        <div class="w-icon-slider-left hotprev left"></div>
      </div>  
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right hotprev right"></div>
      </div>
    </div>    
</div>






  
             
    
  

