<% provide(:title, "home") %>
<%=render :partial =>'shared/hero'%>
<div class="ui grid container">
    <div class="sixteen wide column">
        <h3 class="ui large left aligned red tile_feature header ">
            <span class="hot_title">Hot</span> This Week 
        </h3>
    </div>
</div>
<div class="ui grid container">
        <div class="two column row move_up">       
            <div class="eight wide column ">
                    <%@vids.each do |video|%>
                      <%= image_tag video.image.url(:square)%>
                        <div class="index_info">
                            <div class="index_play">
                               <%=link_to (image_tag('play_btn_off.png')), video_path(video),method: :get%>
                            </div>
                            <div class="index_details">
                                <h4><%=video.views%> views</h4>
                                <h2><%=video.band%> </h2>
                                <p>Official video <span><%= video.title%></span> </p>  
                            </div>   
                        </div>
                    <%end%>
                </div>

                <div class="four wide column tile_col tile_col ">
                  <%@tile_first.each do |video|%>
                    <div class="tile_left">
                         <%=form_for(Heart.new,:remote => true) do |f| %>
                             <%= f.hidden_field :video_id, value: video.id %>
                             <div class="ui fluid image ">
                               <%= f.button " ", class: 'ui red right corner label' do %>  
                                 <i class="heart icon"></i>
                               <%end%>
                          <%= image_tag video.image.url(:medium)%>
                        </div>
                        <%end%>
                        <div class="tile_info">
                            <div class="tile_play">
                               <%=link_to image_tag('play_btn_off.png',size: "40x40" ), video_path(video),method: :get%>
                            </div>
                            <div class="tile_details">
                                <h4><%=video.views%> views</h4>
                                <h2><%=video.band%> </h2>
                                <p>Official video <span><%= video.title%></span> </p> 
                                 <div class="popup">
                                    <i class="teal circular teal plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                                </div>
                            </div>
                        </div>
                    </div>  
                  <%end%>
                </div>  
                <div class="four wide column tile_col   ">
                   <%@tile_second.each do |tile|%>
                        <div class="tile_right">
                             <%=form_for(Heart.new,:remote => true) do |f| %>
                             <%= f.hidden_field :video_id, value: tile.id %>
                             <div class="ui fluid image ">
                               <%= f.button " ", class: 'ui red right corner label' do %>  
                                 <i class="heart icon"></i>
                               <%end%>
                               <%= image_tag tile.image.url(:medium)%>
                            </div>   
                           <%end%>
                        <div class="tile_info">
                            <div class="tile_play">
                               <%=link_to image_tag('play_btn_off.png',size: "40x40"), video_path(tile),method: :get%>
                            </div>
                            <div class="tile_details">
                                <h4><%=tile.views%> views</h4>
                                <h2><%=tile.band%> </h2>
                                <p>Official video <span><%= tile.title%></span> </p>
                                <div class="popup">
                                    <i class="teal circular teal plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                                </div>
                            </div>   
                        </div>
                    </div>
                  <%end%>        
                </div>
           
     </div>
        <div class="sixteen wide column">
             <h3 class="ui large left floated red featured header ">
               <span class="hot_title">Featured</span> Artists This Week 
            </h3>
       </div>
      <div class="top">
          <%= render :partial => "videos/featured" %>
      </div>
      
  </div>      

  
             
    
  

