<% provide(:title, "home") %>
<div class="ui grid container">
    <div class="column">
       <ul class="bxslider">
           <% @main.each do |video|%>
          <li>
           <%= image_tag(video.image.url(:large), class:'slider_img')%>
            <div id="container2">  
                <div class="song_info">
                </div>  
                <div class="song_info_box">   
                    <%-#= type_for(video.vid_type_id)%>
                    <h2><%=video.band%> </h2>
                    <p>Official video "<span><%= video.title%></span>" </p>
                    <p class="blurb"><%=video.blurb%></p>
                </div>  
            </div>    
              <div class="play">
                <%=link_to (image_tag('btn_play_off.png')), video_path(video),method: :get%>
              </div>
          </li>
         <%end%>
        </ul> 
    </div>
</div>
<!--<div class="ui centered leaderboard test main ad">
    <%=image_tag("banner.png")%>
</div>-->

<div class="ui grid container">
    <div class="sixteen wide column">
        <h3 class="ui large left aligned red tile_feature header ">
            <span class="hot_title">Hot</span> This Week 
        </h3>
    </div>
</div>
<div class="ui grid container">
    <div class="two column row move_up">
        <div class="column"> 
           <%@vids.each do |video|%>
              <%= image_tag video.image.url(:square)%>
                <div class="index_info">
                    <div class="index_play">
                       <%=link_to (image_tag('btn_play_off.png')), video_path(video),method: :get%>
                    </div>
                    <div class="index_details">
                        <h4><%=video.views%> views</h4>
                        <h2><%=video.band%> </h2>
                        <p>Official video <span><%= video.title%></span> </p>  
                    </div>   
                </div>
            <%end%>
        </div>
        <div class="column">
            <div class="tile">
                <ul>
                    <%@tile_first.each do |video|%>
                    <li>
                        <div class="tile_box">
                                 <%=form_for(Heart.new,:remote => true) do |f| %>
                                     <%= f.hidden_field :video_id, value: video.id %>
                                <div class="ui fluid image ">
                                       <%= f.button " ", class: 'ui red right corner label' do %>  
                                         <i class="heart icon"></i>
                                       <%end%>
                                  <%= image_tag video.image.url(:medium), class: 'tile_img'%>
                                </div>
                                <%end%>
                                <div class="tile_info">
                                    <div class="tile_play">
                                       <%=link_to image_tag('btn_play_off.png',size: "40x40" ), video_path(video),method: :get%>
                                    </div>
                                    <div class="tile_details">
                                        <h4><%=video.views%> views</h4>
                                        <h2><%=video.band%> </h2>
                                        <p>"<span><%= video.title%></span>"</p> 
                                         <div class="popup">
                                            <i class="teal circular teal plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>                                               
                        </li>
                    <%end%> 
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="ui grid container">
    <div class="sixteen wide column">
         <h3 class="ui large left floated red featured header ">
           <span class="hot_title">Featured</span> Artists This Week 
        </h3>
    </div>
    <div class="top">
     <ul class="left floated">
    <% @featured.each do |featured|%> 
    <li>
         <%=form_for(Heart.new,:remote => true) do |f| %>
             <%= f.hidden_field :video_id, value: featured.id %>
             <div class="ui fluid image ">
               <%= f.button " ", class: 'ui red right corner label' do %>  
                 <i class="heart icon"></i>
               <%end%>
               <%= image_tag featured.image.url(:featured)%>
            </div>   
           <%end%>
        <div class="tile_info">
            <div class="tile_play">
               <%=link_to image_tag('btn_play_off.png',size: "35x35"), video_path(featured),method: :get%>
            </div>
            <div class="tile_details">
                <h4><%=featured.views%> views</h4>
                <h2><%=featured.band%> </h2>
                <p>"<span><%=featured.title%></span>"</p>
                <div class="popup">
                    <i class="teal circular teal plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                </div>
            </div>   
        </div>
    </li>
   <%end%>
</ul>
    </div> 
</div>
<div class="ui centered leaderboard test main ad">
    <%=image_tag("banner.png")%>
</div>
<div class="ui grid container">
    <div class="sixteen wide column">
         <h3 class="ui large left floated red play_head header ">
           <span class="hot_title">Staff</span> Playlists
        </h3>
    </div>
    <div class="top">
    
    </div> 
</div>


  
             
    
  

