<% provide(:title, @video.band) %>
<div class="show-bg">
    <div class="ui grid container">
        <div class="two column row">
            <div class="twelve wide column ">
                <div class ="video-wrapper" id="video_player">
                    <%=render :partial => 'videos/video'%> 
                </div>
            </div>
            <div class=" right floated left aligned four wide column right_col ">
                <div class ="ads-wrapper">
                   <div class="ui medium rectangle ad">
                       <%=image_tag("test_ad.jpg")%>
                    </div>   
                </div>
                <div class ="video_info">
                   <h3 class="ui header"><%=@video.title%></h3>
                   <h3 class="ui header"><%=@video.band%></h3>
                   <h3 class="ui header">
                      <%= image_tag @video.image.url(:avatar),:class =>"ui image"%>
                      <div class="content">
                        Album: I Got this 
                      </div>
                    </h3>
                     
                    <h3 class="ui header"><%=@video.views%><span> views</span></h3>
                    
                    <div class ="social_share">
                        <span class='st_facebook_hcount' displayText='Facebook' st_url="#{request.base_url}/videos/#{@video.title}"></span>
                        <span class='st_twitter_hcount' displayText='Tweet'     st_url="#{request.base_url}/videos/#{@video.title}"></span>   
                    </div>
                    
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="ui grid container">
    <div class="sixteen wide column">
        <h3 class="ui dividing large header show_header ">
         Related videos
        </h3>  
    </div>
      <div class="show_top ">
          <%= render :partial => "videos/related" %>
      </div>
    </div>
  







