<% provide(:title, @video.band) %>
<div class="show-bg">
    <div class="ui grid container">
        <div class="two column row">
            <div class="twelve wide column ">
                <div class ="video-wrapper" id="video_player">
                    <iframe src="//content.jwplatform.com/players/<%=@video.key%>-r7mhaEGG.html" width="816" height="450" frameborder="0" scrolling="auto" allowfullscreen></iframe> 
                </div>
            </div>
            <div class=" right floated left aligned four wide column right_col ">
                <div class ="ads-wrapper">
                   <div class="ui medium rectangle ad">
                       <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=mizikjams-20&o=1&p=12&l=ur1&category=electronicsrot&f=ifr&linkID=LDDRDLQK3P2KFMRO" 
                               width="300" height="250" scrolling="no"
                               border="0" marginwidth="0" style="border:none;"
                               frameborder="0">
                       </iframe>
                    </div>   
                </div>
                <div class ="video_info">
                   <h3 class="ui header video_title"><%=@video.title%></h3>
                   <h3 class="ui header video_band"><%=@video.band%></h3>
                   <h3 class="ui header">
                      <%#-= image_tag @video.image.url(:avatar),:class =>"ui image"%>
                      <!--<div class="content">
                        Album: I Got this 
                      </div>-->
                    </h3>
                     
                    <h3 class="ui header video_view"><%=@video.views%><span> views</span></h3>
                    <h3 class="ui header video_view"><%=@video.hearts.count%><span> Likes</span></h3>           
                </div>
                 <div class="sharebox">
                    <div class="fb-like" data-href="<%=request.base_url%>/videos/<%=@video.id%>" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>  
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="ui grid container">
   <div class="sixteen wide column">
        <h3 class="ui dividing large header show_header ">
         Hot This week - <%=Video.week%>
        </h3>  
   </div>
  <div class="show_top ">
   <ul class="left floated">
    <% @featured.each do |featured|%> 
    <li>
         <%=form_for(Heart.new,:remote => true) do |f| %>
             <%= f.hidden_field :video_id, value: featured.id %>
             <div class="ui fluid image ">
               <%= f.button " ", class: 'ui red right corner label' do %>  
                 <i class="heart icon"></i>
               <%end%>
               <%= image_tag featured.image.url(:featured)%>
            </div>   
           <%end%>
        <div class="tile_info">
            <div class="tile_play">
               <%=link_to image_tag('small_play.png'), video_path(featured),method: :get,remote: true,format: :json%>
            </div>
            <div class="tile_details">
                <h4><%=featured.views%> views</h4>
                <h2><%=featured.band%> </h2>
                <p>"<span><%=featured.title%></span>"</p>
                <div class="popup">
                    <i class="teal circular teal plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                </div>
            </div>   
        </div>
    </li>
   <%end%>
</ul>
  </div>
</div>
<div class="space">
    
</div>
<div class="ui grid container">
   <div class="sixteen wide column">
        <h3 class="ui dividing large header show_header ">
         Related videos
        </h3>  
   </div>
  <div class="show_top ">
      <ul class="related floated">
    <% @related.each do |related|%> 
    <li>        
         <%=form_for(Heart.new,:remote => true) do |f| %>
             <%= f.hidden_field :video_id, value: related.id %>
             <div class="ui fluid image ">
               <%= f.button " ", class: 'ui red right corner label' do %>  
                 <i class="heart icon"></i>
               <%end%>
               <%= image_tag related.image.url(:featured)%>
            </div>   
         <%end%>
        <div class="tile_info">
            <div class="tile_play">
               <%=link_to image_tag('small_play.png'),video_path(related),class:"next_video",method: :get, remote: true,format: :json%>
            </div>
            <div class="tile_details">
                <h4><%=related.views%> views</h4>
                <h2><%=related.band%> </h2>
                <p>"<span><%=related.title%></span>"</p>
                <div class="popup">
                    <i class="teal circular teal plus icon link" data-content="Hello. This is a mini popup" data-variation="mini"></i>
                </div>
            </div>   
        </div>
    </li>
  <%end%>
</ul>
  </div>
</div>
  







