<div class="show-bg">
    <div class="ui grid container">
        <div class="two column row">
            <div class="twelve wide column ">
                <div class ="video-wrapper">
                    <%=render :partial => 'videos/video'%> 
                </div>
            </div>
            <div class=" right floated left aligned four wide column right_col ">
                <div class ="ads-wrapper">
                   <div class="ui medium rectangle ad">
                       
                    </div>   
                </div>
                <div class ="video_info">
                   <h3 class="ui header">Title: <%=@video.title%></h3>
                   <h3 class="ui header">Band: <%=@video.band%></h3>
                   <h3 class="ui header">
                      <%= image_tag @video.image.url(:avatar),:class =>"ui image"%>
                      <div class="content">
                        Album: I Got this 
                      </div>
                    </h3>
                    <h3 class="ui header"><%=@video.views%><span> views</span></h3>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="ui grid container">
    <div class="column">
        <h3 class="ui dividing large header show_header ">
         Related videos
        </h3>
    </div>
</div>






