  <div class="ui fixed menu">
    <div class="ui container">
      <div href="#" class="header item">
        <div class=" brand">
           <%= link_to (image_tag"mjlogo.png"),root_path,method: :get%>
          </div>
      </div>
      <%= link_to "Browse", browse_path , data: { no_turbolink: true }, class:'item nav' %>
       <% if user_signed_in?%>
        <div class="ui simple dropdown item">
            Account
          <i class="dropdown icon"></i>
          <div class="menu">
            <%=link_to edit_user_registration_path, data: { no_turbolink: true }, class:'item' do %>
              <i class="edit icon"></i> My playlists
            <%end%>
            <%=link_to edit_user_registration_path, data: { no_turbolink: true }, class:'item' do %>
              <i class="edit icon"></i> Edit Account
            <%end%> 
            <%=link_to destroy_user_session_path, method: :delete , data: { no_turbolink: true }, class:'item' do %>
              <i class="sign out icon"></i> Sign Out
            <%end%> 
          </div>
        </div> 
        
        <%if current_user.admin?%> 
        <div class="ui simple dropdown item">
          <a class="ui olive empty circular label"></a>Admin<i class="dropdown icon"></i>
          <div class="menu">
            <%=link_to admin_path, data: { no_turbolink: true }, class:'item' do %>
              <i class="dashboard icon"></i> Goto Admin Page
            <%end%> 
            <%=link_to destroy_user_session_path, method: :delete , data: { no_turbolink: true }, class:'item' do %>
              <i class="upload icon"></i> Upload videos
            <%end%> 
          </div>
         </div>
        
         
          <% unless :title == "admin" %>
          <div class="item">
              <div class="ui primary button">Upload videos</div>
          </div>
          <%end%>
        
          <%end%>
        
          <%else%>
              <%= link_to user_session_path , data: { no_turbolink: true }, class:'item' do %>
              <i class="sign in icon"></i> Sign In
              <%end%>
          <%end%>
        
        <div class="right item">
            <div class="ui fluid category search">
              <div class="ui icon input">
                <input class="prompt" placeholder="Search animals..." type="text">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
        </div>
    </div>
  </div>
