<div class="w-section header">
    <div class="navbar">
      <div class="w-row">
        <div class="w-col w-col-4">
              <%= link_to (image_tag "white_logo.png", class: "brand", width: '110'), root_path(), :class => "w-inline-block brandname"%>              
        </div>
        <div class="w-col w-col-4 w-hidden-small w-hidden-tiny">
          <div class="w-form searchpanel">
           <%= search_form_for @q do |f| %>
                   <%= f.search_field :band_or_title_cont, class:"w-input searchfield", placeholder:"Search videos..." %>
               <div class="searchicon">
                   <%= f.submit " ", :type => :image, :src => image_path("search.png"), :class =>  "searchimage" %>  
              </div>
             <%end%>
          </div>
        </div>
        <div class="w-col w-col-4 w-hidden-small w-hidden-tiny rightcol">
          <div class="w-clearfix right_nav">
            <ul class="w-list-unstyled w-clearfix navlist">
              <li class="navitem">
                  <%= link_to "browse", browse_path(), :class => "menu_tiltle"%>
                  <!--<a href="browse.html" class="menu_tiltle">browse</a>-->
              </li>
              <li class="navitem">
               <%= link_to (image_tag "bell.png", class: "notification_image", width: '41'), root_path(), :class => "w-inline-block notification"%>    
                    <!--<img width="41" src="images/bell.png" class="notification_image">-->
              </li>
              <li class="navitem">
                <%= link_to (image_tag "account.png", class: "notification_image account", width: '36'), root_path(), :class => "w-inline-block notification"%>  
                    <!--<img width="36" src="images/account.png" class="notification_image account">-->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>







