<div class="ui attached stackable menu">
  <div class="ui container">
   <div class="item brand">
     <%= link_to (image_tag("mjlogo.png")), root_path%>
   </div>
     <%= link_to videos_path , data: { no_turbolink: true }, class:'item nav' do %>
       <i class="grid layout icon"></i> Browse
     <%end%> 
     <% if user_signed_in?%>
    <div class="ui simple dropdown item">
      Account
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> Edit Profile</a>
        <a class="item"><i class="settings icon"></i> Account Settings</a>
        <%=link_to destroy_user_session_path, method: :delete , data: { no_turbolink: true }, class:'item' do %>
          <i class="sign out icon"></i> Sign Out
        <%end%> 
      </div>
    </div>
      <%if current_user.admin?%>
       <div class="ui simple dropdown item">
          Admin
          <i class="dropdown icon"></i>
          <div class="menu">
            <%=link_to admin_path, data: { no_turbolink: true }, class:'item' do %>
              <i class="dashboard icon"></i> Goto Admin
            <%end%> 
            <!--<a class="item"><i class="edit icon"></i> </a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>-->
            <%=link_to destroy_user_session_path, method: :delete , data: { no_turbolink: true }, class:'item' do %>
              <i class="upload icon"></i> Upload videos
            <%end%> 
          </div>
        </div>
         <div class="item">
            <div class="ui primary button">Upload videos</div>
         </div>
      <%end%>
      <%else%>
          <%= link_to user_session_path , data: { no_turbolink: true }, class:'item' do %>
          <i class="sign in icon"></i> Sign In
          <%end%>
      <%end%>
    <div class="right item">
      <div class="ui input"><input placeholder="Search Videos..." type="text"></div>
    </div>
  </div>
</div>