<div class="ui grid container">
    <div class="column">
        <!--<div class="ui primary button">Upload videos</div>-->
        <div class="ui huge header">
            <a class="ui blue image label">
              <%= image_tag current_user.avatar.url, class: "img-circle",size: "18x18" %>
              <!--<img src="/images/avatar/small/veronika.jpg">-->
              <%= current_user.username %>
              <div class="detail">Admin</div>
            </a>
            Admin Dashboard
        </div>
        <div class="ui inverted pointing menu">
          <a class="active item">
            statistics   
          </a>
          <a class=" item">
            Manage users 
          </a>
          <a class="item">
            Manage videos 
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui transparent icon input">
                <input placeholder="Search..." type="text">
                <i class="search link icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
            <div class="ui grid container">
                <div class="column">
                     <h2 class="ui horizontal divider header">
                        <i class="users icon"></i>
                         Active Users
                     </h2>
                      <%= line_chart User.group(:created_at).count %>
                       <div class="ui statistics ">
                           <h2 class="ui horizontal divider header">
                            <i class="unhide icon"></i>
                             Views Summary
                           </h2>
                         <%= render :partial =>"pages/statistics"%> 
                      </div>
                </div>
            </div>
          <p></p>
        </div>
    </div>
</div>
<%= render :partial =>"pages/modal"%>