<% provide(:title,"login") %> 
<div class="ui middle aligned center aligned grid">
      <div class="column specs">
        <h2 class="ui red image header">
          <%=image_tag ("form_logo.png"),class:'image'%>
          <div class="content">
            Log-in to your account
          </div>  
        </h2>
          <p> To create playlist and follow your favorite artists</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: { class: "ui large form" }) do  |f| %>  
          <div class="ui stacked segment move_up">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <%= f.text_field :login, :placeholder => "Email address" %> 
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                 <%= f.password_field :password, autocomplete: "off",:placeholder => "Password" %> 
              </div>
            </div>
            <%= f.button "Sign In" , class: 'ui fluid large teal submit button', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sign in..."} %>
              <div class="ui horizontal divider">
                Or Log in with
              </div>
              <%= link_to user_omniauth_authorize_path(:facebook),class:'ui fluid large facebook button' do%>
                <i class="facebook icon"></i>Facebook
             <%end%>

          </div>
          <div class="ui error message">
              <%= devise_error_messages! %>
          </div>
         <%end%> 
          <div class="ui message">
          New to us?
          <%= render "devise/shared/links"%>   
        </div>
      </div>
       
    </div> 






